h1 {
  background-color: green;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
h2 {
  background-color: brown;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.flexi {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 20px;
}

.edi {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
}

.container-element1 {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 150px;
  flex-direction: row;
  float: right;
}
.adi {
  display: flex;
  justify-content: center;
  background-color: yellow;
  border-radius: 20px;
}

.udi {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  background-color: red;
  border-radius: 20px;
}

button:hover {
  background-color: gold;
  border-radius: 20px;
  box-shadow: 2px 3px;
  cursor: pointer;
}
h4 {
  display: flex;
  justify-content: center;
  background-color: bisque;
  border-radius: 20px;
}

.container-element2 {
  width: 300px;
  display: flex;
}
